@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Roboto+Serif:ital,opsz,wght@0,8..144,100..900;1,8..144,100..900&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --secondary-fonts: 'Dancing Script', serif;
  --primary-fonts: 'Roboto', serif;
  --primary-color: #052659;
  --webpage-background-color: #c1e8ff;
  --header_background_color: hsl(210, 38%, 52%);
  --secondary-color: #5483b0;
  --card_items_background: #a2bee0;
  --text-color: black;
  --text-white: white;
  --hover-color-background:#021024;
  scroll-behavior: smooth;
}

html {
  font-size: 62.5%;
/* 1rem = 10px */
}

body {
  /* margin: 0 2rem 2rem 2rem; */
  background-color:var(--webpage-background-color);
  font-family: 'Roboto', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}


 /* ################## HEADER############################# */
.header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color: var(--header_background_color);
  width: 100%;
  z-index: 100;
  position: fixed;
  border-bottom: 5px solid yellow;
}
.header_apartments_logo_name {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto;
  grid-area: 
  'header'
  'main'
  ;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
.item-1 {
  grid-area: header;
}
.item-2 {
  grid-area: main;
}
.header a img {
  border-radius: 50%;
  width: 6rem;
}

.header h1  {
  font-family: var(--primary-fonts);
  font-size: 2.5rem;
  text-decoration: overline;
  color: var(--primary-color);
}

nav ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

nav ul li a  {
  /* border: red solid 2px; */
  text-decoration: none;
  text-transform: capitalize;
  font-size: x-large;
  font-style: bold;
  font-family: var(--primary-fonts);
  color: var(--text-white);
}

/* nav ul li a::after { */
  /* content: '';
  transform: scaleX(0);
  position: absolute;
  width: 70px;
  height: 3px;
  background: black;
  border-radius: .5rem;
  transform-origin: right;
  transition: transform .5s;
  left: auto;
  bottom: 6px; */

/* } */

nav ul li a:hover{
  background: transparent;
  text-decoration: solid;
  border-bottom: 2px solid var(--text-color);

}
nav ul li{
  text-decoration: none;
  list-style: none;

}

.header_register_login {
  display: flex;
   flex-direction: row;

  gap: 2rem;
}

.header_register_login {
  text-decoration: none;
  list-style: none; 
}
.header_register_login a {
  text-decoration: none;
  text-transform: capitalize;
  font-size: large;
  font-style: bold;
  font-family: var(--primary-fonts);
  cursor: pointer;
  color: var(--text-white);
  border: 2px solid var(--webpage-background-color);
}

.header_register_login a:hover{
  transition: all 1s ease-in-out;
  transform: scale(1);
  background-color: var(--text-white);
  color: var(--text-color);
}

.header_register_login li a{
  padding: .6rem;
  border-radius: .7rem;
}


/* ////////////////// HEROS SECTION ///////////////////// */
.heros {
  min-height: 98vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: -1;
}

.heros-1 {
  z-index: 1;
  background-image: linear-gradient(rgba(15, 8, 8, 0.1), rgba(17, 10, 10, 0.1)), url(./assets/home_img2.jpg);
  background-position: center;
  background-size: cover;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
}


.heros p {
  width: 50rem;
  padding: 2rem 2rem;
  font-size: larger;
  font-family: var(--primary-fonts);
  text-align: center;
  font-size: 2.5rem;
  color: var(--text-color);
  text-align: center;
  font-style: bold;
}

.heros p:hover{
  background-color: blues;
}

.heros .hero-title h1 {
  font-family: var(--secondary-fonts);
  color: var(--primary-white);
  text-align: center;
  font-size: 5rem;
  font-style: bold;
  font-weight: 900;
}

.heros .hero-title h2{
  font-family: var(--primary-fonts);
  color: var(--text-white);
  text-align: center;
  font-size: 4rem;
  font-style: bold;
  font-weight: 900;
}

.heros-link a{
  text-decoration: none;
  gap: 3rem;
  color: var(--text-color);
  text-align: center;
  padding: 1rem 1rem;
  border-radius: .5rem;
  font-size: 2rem;
  border: 2px solid var(--webpage-background-color);
}

.link a{
  border: 2px solid var(--text-color);

}

.link a:hover{
  border: 2px solid var(--text-white);
}
.heros-link a:hover {
  background-color: var(--text-white);
  transform: scale(1.05);
  
  transition: all ease-in-out;
}


.heros-link {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}

.heros-banner {
  padding: 1rem 1rem;
  border-radius: 1rem;
  background-color: var(--secondary-color);
  margin-top: 5rem;

}


/* ##################  ABOUT ############################# */
.about {
  min-height: 80vh;
  text-align: center;
  margin-top: 2rem;
}

h1 {
  font-size: 4rem;
  color: var(--text-color);
  font-family: var(--secondary-fonts);
  color: var(--primary-color);
  font-style: bold;
}


.about-items {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 100%;
  padding: 1rem ;
  justify-content: center;
  align-items: center;
}


.about-items .about-img img {
  width: 50rem;
  height: 40rem;
  border-radius: 2rem;
}

.about-items .about-img img:hover{
  transform: scale(1.02);
  transition: all5s ease-in-out;
}

.about-items .about_desc {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

 h2 {
  font-size: 5rem;
  color: var(--text-color);
  font-family: var(--primary-fonts);
  font-style: bold;
  padding-top: 0;

}

.about-items  p{
  font-family: Arial, Helvetica, sans-serif;
  font-style: bold;
  font-size: 1.5rem;
  padding-bottom: 1rem;
  text-align: center;
  padding: 2rem;
  line-height: 1.7;
}


/* ################## AMENITIES ############################# */

.amenities {
  padding-left: 1rem;
  padding-right: 1rem;
  min-height: 80vh;
  display:grid;
  grid-template-areas: 'header'
                        'body';
  align-items: center;
  justify-content: center;
  margin-top: 3rem;
}
.aminities_header {
  grid-area: header;
  align-items: center;
  text-align: center;
  margin-bottom: 1rem;
}

hr{
  height: 2rem;
}
.amenity-items {
  grid-area:body;
  margin-top: 1rem;
}
 .parent {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 2rem 1rem;
  justify-content: space-around;
  align-items: center;
}

.amenity_item {
 background-color: var(--card_items_background) ;
 display: flex;
 flex-direction:column;
 justify-content: center;
 align-items: center;
 width: 25rem;
 margin-top: 4rem;
 gap: 1rem 1rem;
 border-radius: 1rem;
 box-shadow: saddlebrown;
}

.amenity-items .amenity_img img{
  width: 10rem;
  height: 10rem;
  margin-top: -50%;
  border-radius: 50%;
  border: 2px solid var(--text-color);
}

.amenity_item h3 {
  font-size: 2rem;
  color: var(--primary-color);
}

.amenity_item p {
  color:var(--text-color);
  height: 8rem;
  overflow: hidden;
  margin: 1rem;
}

.amenity_item p{
  text-align: justify;
  font-size: 1.3rem;
}

.amenity_item .heros-link {
  margin-bottom: .4rem;
}


/* ################## PRICING ############################# */
/* .available_apartments {
  min-height: 80vh;
  display:grid;
  grid-template-areas: 'header'
                        'body';
  align-items: center;
  justify-content: center;
  margin-bottom: 2rem;
}


.parent {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 2rem 1rem;
  justify-content: space-around;
  align-items: center;
}

 .apartment-items .apartment_image img{
  width: 30rem;
  height: 25rem;
  padding: .5rem .5rem;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}

.apartment-items {
  width: 30rem;
  background-color:  var(--text-white) ;
  display: flex;
  flex-direction:column;
  justify-content: center;
  align-items: center;
  border-radius: 1rem;
  box-shadow: saddlebrown;
}
.apartment-items img {
  width: 100%;
  height: 10rem;
}
.apartment-items h3 {
  text-align: left;
  display: flex;
  justify-items: left;
}

.amenity_item {
  border: 2px red solid;
}

.apartment-items .apartment_description {
  display: flex;
  justify-content: start;
  align-items: flex-start; 
  padding: .5rem .5rem;
  align-items: start;
}
.apartment-items .apartment_description h3 {
  color: var(--text-color);
  font-size: 1.4rem;

}

.apartment_description{
  height: 17rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.apartment_description p {
  color: rgb(82, 74, 74);
  margin-top: 1rem;
  font-size: 2.2rem;
  font-weight: 500;
  font-style: bold;
  color: var(--primary-color);
}

.apartment-items h4 {
  margin-top: 1rem;
  font-size: 1.5rem;
}
.apartment_description h3, p {
  position: relative;
  top: 0rem;
  left: 0rem;
}

.apartments a{
  font-size: 1.2rem;

}
.apartments{
  width: 29rem;
  margin-top:3.5rem;
  gap: 2rem;
  display: flex;
  justify-content: space-between;
}

.apartments p {
  background: var(--primary-color);
  border-radius: .5rem;
  align-items: center;
  padding: .4rem .6rem;
  color: var(--text-color);
  display: inline;
  margin-top: 0;
  font-size: 2rem;
}
.apartments a{
  margin: 0;
} */


.parent {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.apartments {
  min-height: 80vh;
  display:grid;
  grid-template-areas: 'header'
                        'body';
  align-items: center;
  margin-top: 2rem;
}

.apartment_item_1{
  grid-area: header;
}

.apartment_item_2{
  grid-area: body;
}


.apartments .apartments_items {
  border-radius: 1rem;
  padding: .5rem .5rem ;
  margin-left: .5rem;
  margin-right: .5rem;
  display: flex;
  background-color: var(--card_items_background);
  margin-bottom: 1rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 28rem;
  height: 35rem;
}

.apartments_items .apartment_img img {
  border-radius: .5rem;
  height:19rem;
  width: 100%;
}

.apartments .apartment_description {
  width: 100%;
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto auto;
  grid-template-areas: 
      'header'
      'main'
      'footer'
      'sub_footer';
}
.apartment_item_1{
  grid-area: header;
}

.apartment_item_2{
  grid-area: main;
}

.apartment_item_3{
  grid-area: footer;
}
.apartment_item_4{
  grid-area: sub_footer;
}
.apartment_description .availability{    
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.apartments_items .apartment_description h4, h3{
  color: var(--text-color);
  font-size: 1.2rem;
  font-family: var(--primary-fonts);
  font-style: italic;
  padding: .2rem;
  text-transform: capitalize;
}

.apartments_items .apartment_description p{
  font-size: 1.3rem;
  color: var(--text-color);
  padding: .2rem;
  height: 7rem;
  overflow: auto;
  text-transform: capitalize;
}

.apartments_items .apartment_description h2{
  color: var(--primary-color);
  font-family: var(--primary-fonts);
  font-size: 2rem;
  padding: .2rem;    
}

.apartments_items .apartment_price {
  margin-top: 1rem;
  display: flex;
  border-top: 2px solid var(--secondary-color);
  justify-content: space-between;
  padding: .5rem;
  align-items: center;
  width: 100%;
  margin-bottom: .4rem;
}

.apartments_items .apartment_price a{
  text-decoration: none;
  color: black;
  font-size: 1rem;
  padding: .5rem .5rem;
 border-radius: .5rem;
 font-size: 1.5rem;
 color: var(--text-white);
 background-color: var(--text-color);
}

.apartments_items .apartment_price .apartment_view {
  border: 2px solid var(--webpage-background-color);
  background: transparent;
  color: var(--text-color);
  font-style: bold;
}

.apartments_items .apartment_price .apartment_view:hover{
  background: var(--text-color);
  transition: all ease-in .5s;
  color: var(--text-white);
}

/* ################## CONTACTS ############################# */
#contacts{
  margin-top: 4rem;
  height:90vh;
}
hr {
  margin-top:1rem;
  margin-bottom: 1rem;
}


.contacts_parent {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1rem 1rem;
  margin-top: 0;
  height: 100%;

}

.contacts_parent .contacts_us {
  padding: 1rem 1rem;
  border-radius: 2rem;
  background-color: var(--card_items_background);

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 50rem;
  width: 40%;
}
.contacts_us h2 {
  text-align: center;
}

.contacts_us .org_contacts p{
  padding: .5rem;

}
.contacts_us .org_contacts .address{
  font-size: 2rem;
  color: var(--primary-color);
  font-style: bold;
}

.contacts_us .org_contacts .email, .phone{
  font-style: italic;
  font-size: 1.5rem;
}

.social_media h3 {
  font-size: 2.5rem;
  text-decoration: none;
  font-style: normal;
}
.contacts_us .social_media{
  margin-bottom: 5rem;
  padding: .5rem;
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-template-rows: auto auto;
  grid-template-areas: 
      'row'
      'column1';
}

.title {
  grid-area: row;
}

.socials{
  grid-area: column1;
}

.social_media .socials {
  margin-top: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
ul li {
  list-style: none;
}
ul li a img {
  border-radius: 50%;
  height: 4rem;
  width: 4rem;
  padding: 0;
  border: 1px solid var(--text-color);
  background-image: linear-gradient(rgba(0,0,0,.2), rgba(0,0,0,.3));
}

.contacts_parent .get_in_touch{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--card_items_background);
  border-radius: 2rem;
  /* position: relative; */
  height: 50rem;
  width: 40%;
}
.get_in_touch h1 {
  margin-top: 1rem;
  padding: 1rem 1rem;
  /* position: absolute; */
}

ul li img:hover{
  transform: scale(1.2);
  transition: all ease-in-out .5s;
}

/* @@@@@@@@@@@@@@@@@@@ talk to us @@@@@@@@@@@@@@@@@@@@@@@@@ */

form{
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 80%;
}

form .input_box input {
  border: 1px solid var(--text-color);
  height: 5rem;
  padding: 2rem;
  border-radius: 1rem;
  width: 100%;
}

form .input_box input::placeholder{
  color: black;
}

form .message textarea{
  border: var(--text-color) 1px solid;
  height: 10rem;
  padding: 2rem;
  width: 100%;
  border-radius: 1rem;
}

form button {
  align-items: center;
  justify-content: center;
  height: 4rem;
 margin-top: 2rem;
 border-radius: 1rem;
 border: 2px solid var(--webpage-background-color);
 background-color: var(--secondary-color);
}
form button:hover{
  background: var(--text-white);
  border: 1px solid var(--text-color);

}
/* ################## FOOTER ############################# */

.footer {
  margin-top: 3rem;
  background-color: var(--header_background_color);
  height: auto;
}

.parent_footer {
  display: flex;
  justify-content: space-around;
}

.parent_footer .companys_logo a img{
  border-radius: 50%;
  width: 10rem;
  margin-top: 2rem;
}
.companys_logo h1 {
  text-align: center;
  text-decoration: dashed underline;
}
.companys_logo {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.major_links {
  padding:1rem 1rem;
  margin-top: 2rem;
}

.major_links h3 {
  font-size: 2.3rem;
  font-style: normal;
  text-decoration:underline dashed ;
  margin-bottom: 1rem;
}


.major_links ul li::before{ 
  padding-right: 1rem;
  content: "\00BB"; 
} 
.major_links li{
  font-size: 1.5rem;
  padding: .2rem;
}

.major_links ul li a{
  text-decoration: none;
  font-size: 1.5rem;
  font-style: normal;
  color: var(--text-color);
}


.social_media{
  padding: 1rem 1rem;
  margin-top: 2rem;
}

.social_media h3{
  text-decoration: underline dashed;
}

.subscribe {
  margin-top: 4%;
}
.subscribe h3 {
  text-decoration: dashed underline;
  font-size: 2.5rem;
  font-style: normal;
  margin-bottom: 1rem;
}

.subscribe input{
  padding-inline-start: .5rem;
  height: 3rem;
  width: 75%;
  border-radius: .5rem;
  border: 1px solid var(--text-color);
}

.subscribe button {
  background-color: var(--card_items_background);
  height: 3rem;
  width: 7rem;
  cursor: pointer;
  border-radius: .5rem;
  border: 2px solid var(--text-color);
}

.subscribe button:hover{
  background-color: var(--text-white);
  color: var(--text-color);
}

.subscribe p {
  font-style: italic;
  margin-top: 3em;
  font-size: 1.3rem;
}

.parent_footer .companys_logo h1{
  font-size: 3rem;
}

/* ####################################################################
 */

 /* ########### Media Queries ##################### */

 @media  screen and (max-width:600px) {

  body{
    overflow-x: hidden;
  }
  /* ########## HEADER SECTION ################ */
  .header{
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .header_apartments_logo_name a img{
    display: none;
  }
  
  .header_apartments_logo_name h1{
    font-size: 3rem;
  }
  .header_register_login{
    margin-bottom: 1rem;
    margin-top: 1rem;
  }

  /* ################# IMAGE ###################### */
  .heros-banner{
    width: 40rem;
    justify-content: center;
    align-items: center;
    margin-top: 13rem;
  }

  .heros-banner .hero-title h1 {
    font-size: 3rem;
  }
  .heros-banner .hero-title h2{
    font-size: 4rem;
  }
  .heros-banner .hero-title p{
    font-size: 1.5rem;
    width: auto;
    line-height: 1.7;
  }

  /* ############# About sections #################### */
  .about .about-items{
    display: flex;
    flex-direction: column;
  }

  .about .about-items .about_desc h2{
    margin-top:2rem ;
    font-size: 3rem;
  }

  .about .about-items .about_desc p{
    font-size: 1.5rem;
  }
  .about .about-items .about-img img{
    width: 95%;
  }
  .social_media h3{
    text-align: center;
  }
  .social_media ul{
    gap: 2rem;
  }

  /* ############# Contact us ################# */
  #contacts .contacts_parent {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    z-index: 1;
  }
  #contacts .contacts_parent .contacts_us{
    width: 100%;
    align-items: center;
    height: 33rem;
  }


  #contacts .contacts_parent .contacts_us h2{
    font-size: 3.5rem;
  }
  #contacts .contacts_parent .contacts_us .org_contacts p{
      font-size: 1.8rem;
      text-align: center;
  }


  #contacts .contacts_parent .get_in_touch{
    width: 100%;
    min-height: 33rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }
  #contacts .contacts_parent .get_in_touch form{
    height: 100%;
  }
  
  #contacts .contacts_parent .get_in_touch form .input_box input{
    max-height: .5rem;
  }
  #contacts .contacts_parent .get_in_touch form  textarea{
    padding: .5;
    height: 2rem;
    margin-top: .5rem;
    margin-bottom: .5rem;
  }


  #contacts .contacts_parent .get_in_touch form{
    width: 50%;
  }

  #contacts .contacts_parent .get_in_touch form button{
    margin-top: -1rem;
  }
  form .input_box{
    margin-top: 1rem;
  }

  .footer .parent_footer{
    align-items: center;
    display: flex;
    flex-direction: column;
    height: auto;
  }
  

  .footer {
    margin-top: 25rem;
  }
 }

 /* ????????????????????????? Medium Devices ?????????????????????? */
@media screen and (min-width:601px) and (max-width:810px) {
  body{
    overflow-x: hidden;
  }
  /* ########## HEADER SECTION ################ */
  .header{
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  .header_apartments_logo_name{
    margin-top: 1rem;
  }
  .header_apartments_logo_name h1{
    font-size: 4rem;
  }
  .header_register_login{
    margin-bottom: 1rem;
    margin-top: 1rem;
  }

  /* ################# IMAGE ###################### */

  .heros-banner{
    margin-top: 15rem;
    width: 50rem;
    justify-content: center;
    align-items: center;
  }

  .heros-banner .hero-title h1 {
    font-size: 4rem;
  }
  .heros-banner .hero-title h2{
    font-size: 5rem;
  }
  .heros-banner .hero-title p{
    font-size: 2rem;
    width: auto;
  }

  /* ############# About sections #################### */
  .about .about-items{
    display: flex;
    flex-direction: column;
  }

  .about .about-items .about_desc h2{
    margin-top:2rem ;
    font-size: 4rem;
  }

  .about .about-items .about_desc p{
    font-size: 1.8rem;
  }
  .about .about-items .about-img img{
    width: 95%;
  }

  /* ############# Contact us ################# */
  #contacts .contacts_parent {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    z-index: 1;
  }
  #contacts .contacts_parent .contacts_us{
    align-items: center;
    width: 90%;
    min-height: 30rem;
  }

  #contacts .contacts_parent .contacts_us h2{
    font-size: 4rem;
  }
  #contacts .contacts_parent .contacts_us .org_contacts p{
      font-size: 2rem;
    text-align: center;
  }
  #contacts .contacts_parent .get_in_touch{
    width: 90%;
    min-height: 30rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }
  #contacts .contacts_parent .get_in_touch form{
    height: 100%;
  }
  
  #contacts .contacts_parent .get_in_touch form .input_box input{
    max-height: .5rem;
  }
  #contacts .contacts_parent .get_in_touch form  textarea{
    padding: .5;
    height: 2rem;
    margin-top: .5rem;
    margin-bottom: .5rem;
  }


  #contacts .contacts_parent .get_in_touch form{
    width: 50%;
  }

  #contacts .contacts_parent .get_in_touch form button{
    margin-top: -1rem;
  }
  .social_media  ul{
    gap: 2rem;
  }
  .social_media h3{
    text-align: center;
  }

  form .input_box{
    margin-top: 1rem;
  }

  /* ???????????????? Foooter section ???????????????????? */

  .footer .parent_footer{
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: auto;
  }

  .footer{
    margin-top: 18rem;
  }

}
 
/* ?????????????????????????? Large sizes ????????????????????????? */
@media screen and (min-width:811px) and (max-width:1020px){
  body{
    overflow-x: hidden;
  }
  /* ########## HEADER SECTION ################ */
  .header{
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  .header_apartments_logo_name{
    margin-top: 1rem;
  }
  
  .header_apartments_logo_name h1{
    font-size: 5rem;
  }
  .header_register_login{
    margin-bottom: 1rem;
    
  }

  /* ################# IMAGE ###################### */
 
  .heros-banner{
    margin-top: 15rem;
    width: 60rem;
    
  }

  .heros-banner .hero-title h1 {
    font-size: 5rem;
  }
  .heros-banner .hero-title h2{
    font-size: 5rem;
  }
  .heros-banner .hero-title p{
    font-size: 2rem;
    width: auto;
  }

  /* ######################## Amenities section ##################### */
  .amenities .parent{
    display: flex;
    gap: 3rem;
  }
  /* ############# About sections #################### */


  .about .about-items .about_desc h2{
    margin-top:2rem ;
    font-size: 4rem;
  }

  .about .about-items .about_desc p{
    font-size: 1.5rem;
  }
  .about .about-items .about-img img{
    width: 95%;
  }

  .footer{
    margin-top: 6rem;
  }
}

/* ??????????????? Extra - small devices. ?????????????????????? */

@media screen and (max-width:485px) {
  body{
    overflow-x:hidden;
  }
  .header .header_apartments_logo_name h1{
    font-size: 2.5rem;
    margin-top: 1rem;
  }
  .header{
    gap: .5rem;
  }
  .header nav ul li a{
    font-size: 1.7rem;
  }
  .header .header_register_login li a{
    font-size: 1.7rem;
  }


  /* ???????????????????????  Heros sections ??????????????? */
  .heros-1{
    background: none;
  }
  .heros .heros-banner{
    width: 90%;
    align-items: center;
  }

  .about{
    margin-top: -8rem;
  }

  .footer{
    margin-bottom: 1rem;
  }

  /* ????????????? Contacts Us ????????????????? */

  #contacts .contacts_parent .contacts_us h2{
    font-size: 3rem;
  }
    #contacts .contacts_parent .contacts_us .org_contacts p{
    font-size: 1.8rem;
  }

  #contacts .contacts_parent .get_in_touch h1{
    font-size: 2.5rem;
  }
  #contacts .contacts_parent .get_in_touch form button{
    font-size: 1.5rem;
    padding: .5rem;
  }

  #contacts .contacts_parent .get_in_touch form textarea{
    margin-top: 1rem;
  }

  .footer{
    margin-top: 10rem;
  }
}


@media screen and (min-width:1021px) {
  .footer{
    margin-top: 5rem;
  }
}