* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color:antiquewhite;
}

.apartments {
    width: 100%;
    border: 2px solid red;
    height: 90vh;
    margin-top: 3rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}
.apartments .apartments_items {
    border-radius: 1rem;
    padding: .2rem .5rem ;
    display: flex;
    background-color: aqua;
    border: 1px solid red;
    margin-bottom: 1rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 18rem;
}

.apartments_items img {
    width: 100%;
    border-radius: .5rem;
    height: 14rem;
}

.apartments .apartment_description {
    width: 100%;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto auto;
    grid-template-areas: 
        'header'
        'main'
        'footer'
        'sub_footer';
}
.apartment_item_1{
    grid-area: header;
}

.apartment_item_2{
    grid-area: main;
}

.apartment_item_3{
    grid-area: footer;
}
.apartment_item_4{
    grid-area: sub_footer;
}
.apartment_description .availability{    
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.apartments_items .apartment_description h4, h3{
    color: black;
    font-size: .9rem;
    font-style: italic;
    padding: .2rem;
}

 .apartments_items .apartment_description p{
    font-size: 1rem;
    color: black;
    padding: .2rem;
    height: 7rem;
    overflow: hidden;
}

.apartments_items .apartment_description h2{
    color: black;
    font-size: larger;
    padding: .2rem;    
}

.apartments_items .apartment_price {
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: .4rem;
}

.apartments_items .apartment_price a{
    text-decoration: none;
    color: black;
    font-size: 1rem;
    padding: .5rem .5rem;
   border-radius: .5rem;
   font-size: bold;
   color: white;
   background-color: black;
}

.apartments_items .apartment_price .apartment_view {
    border: 1px solid blue;
    background: transparent;
    color: black;
}

.apartments_items .apartment_price .apartment_view:hover{
    background: white;
    transition: all ease-in .5s;
}